.animatedButton {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
  padding: 14px 28px;
  border-radius: 28px;
  font-size: 18px;

  background-color: #245672;
  color: var(--color-gray-50);
  border: none;
  cursor: pointer;
}

.animatedButton:hover {
  transform: translateY(-2px);
}

@media (max-width: 767px) {
  .animatedButton {
    padding: 10px 24px;
    font-size: 16px;
  }
}

